files:
    "/etc/nginx/sites-enabled/chat" :
        mode: "000755"
        owner: root
        owner: root
        content: |
            location /chat/ {
                proxy_pass http://backend;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
            }