# Elastic Beanstalk managed configuration file
# Some configuration of nginx can be by placing files in /etc/nginx/conf.d
# using Configuration Files.
# http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
#
# Modifications of nginx.conf can be performed using container_commands to modify the staged version
# located in /tmp/deployment/config/etc#nginx#nginx.conf

files:
    "/etc/nginx/conf.d/www-merjs.conf" :
        mode: "000755"
        owner: root
        owner: root
        content: |
            server {
                listen 127.0.0.1;
                location / {
                    proxy_pass http://127.0.0.1:3000;
                }
            }

            server {
                listen 127.0.0.1:8080;
                location /ws/ {
                    proxy_pass http://127.0.0.1:8888;
                    proxy_http_version 1.1;
                    proxy_set_header Upgrade $http_upgrade;
                    proxy_set_header Connection "upgrade";
                }
            }