files:
    "/etc/nginx/conf.d/www-merjs.conf" :
        mode: "000755"
        owner: root
        owner: root
        content: |
            server {
                listen 127.0.0.1:80;
                location / {
                    root /var/app/current/www/;
                }
            }

            server {
                listen 127.0.0.1:8080;
                location /ws/ {
                    proxy_pass http://127.0.0.1:80;
                    proxy_http_version 1.1;
                    proxy_set_header Upgrade $http_upgrade;
                    proxy_set_header Connection "upgrade";
                }
            }